body {
  font-family: Arial;
  padding: 20px;
  background: #f4f4f4;
}

h1, h2 {
  text-align: center;
}

#products, #cart {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  width: 150px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

button {
  margin-top: 10px;
  padding: 8px;
  border: none;
  background: #2a5298;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #1e3c72;
}